html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    font-family: "Avenir W01", "Avenir";
    font-size: 12px;
}

body {
    display: grid;
    height: 100%;
    margin: 0;
    padding: 5px 15px;
    box-sizing: border-box;
    grid-template-rows: 75px auto;
    background: #f4f4f4;
    color: #223135;
}
body header {
    display: grid;
    position: relative;
    padding: 15px 5px;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid #bcc1c2;
    box-sizing: border-box;
}
body header svg {
    position: absolute;
    top: 50%;
    left: 0;
    height: 40px;
    transform: translateY(-50%);
}
body header span {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 1.333rem;
    letter-spacing: 0.01rem;
}
body header code {
    margin-left: 5px;
    padding: 3px 10px;
    border-radius: 10px;
    color: #c30035;
    background: #f6d9e1;
    font-weight: normal;
    line-height: 1;
}
body article {
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
body article h1 {
    font-family: "Roboto Slab";
    font-size: 2.667rem;
    font-weight: 300;
}
body article p {
    font-weight: 400;
    font-size: 1.333rem;
    letter-spacing: 0.01rem;
    text-align: center;
}

.btn {
    font-family: "Open Sans";
    font-weight: 400;
    padding: 10px;
    background-color: #5e7fdc;
    color: white;
    width: 100px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 50px;
    transition: all 0.2s linear;
}
@media screen and (max-width: 400px) {
    .btn {
        margin: 0 auto;
        margin-top: 60px;
        margin-bottom: 50px;
        width: 200px;
    }
}
.btn:hover {
    background-color: rgba(94, 127, 220, 0.8);
    transition: all 0.2s linear;
}